* {
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 0.5em;
}

#logoArgPrograma{
    width: 150px;
}

img{
    width: 50px;
}

.btn {
    border-width: medium;
}

/* resposive para celular  */
@media (max-width: 575px){
.container {
    flex-direction: column;
}

.redes {
    display: flex;

}

.redes img {
    margin: 0.2em;
}
}

     /* Estilos para el botón de inicio de sesión */
     button.btn-outline-light {
        transition: border-color 0.3s ease-in-out;
      }
  
      /* Cambia el color del borde al hacer hover */
      button.btn-outline-light:hover {
        border-color: #31c1fa;
      }

.yoprogramo {
    display: inline; 
    margin-left: 5px;
    color: white;
    font-weight: 700;
}