.row {
    padding: 20px;
    background-color: #000000;
}
footer {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
}

p {
    text-shadow: 0.5px 0.5px 2px rgb(0, 0, 0);
}