.row {
    padding: 20px;
}

div {
    background-color: #eff2f5;
    text-align: center;
}


/* foto de perfil estilo */

@media (min-width: 576px){
    #fotoPerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 705px;
    }
}

@media (max-width: 575px){
    #fotoPerfil {
        position: absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        right: 40%;
        top: 294px;
    }
}


/* el nombre */
#nombre {
    font-weight: bold;
    margin-top: 40px;
    font-family: sans-serif;

}

h1 {
    font-weight: 800;
}

#nombre {
    font-weight: 800;
    font-family: Raleway, sans-serif;
}

.row {
    background-color: #FFFF;
}