*{
    font-family: Raleway, sans-serif;
}
.gradient-custom {
    background-color: #99e4ff;
    background-image:
        radial-gradient(at 70% 83%, rgb(255, 255, 255) 0px, transparent 50%),
        radial-gradient(at 67% 3%, rgb(23, 201, 255) 0px, transparent 50%),
        radial-gradient(at 53% 40%, rgb(255, 255, 255) 0px, transparent 50%),
        radial-gradient(at 73% 43%, rgb(59, 194, 247) 0px, transparent 50%);
}

h2{
    font-weight: 700;
}

p {
    font-weight: 600;
}

.form-label {
    font-weight: 600;
    text-align: left;
    display: block;
}

button {
    font-weight: 800;
    border-radius: 10px;
}

input {
    font-weight: 800;
    border-radius: 15px;
}

img{
    width: 10%;
    top: 60px;
    left: 60px;
    
}

/* Estilos para los inputs */
    input.form-control {
        transition: border-color 0.3s ease-in-out;
      }
  
    /* Cambia el color del borde al hacer hover */
      input.form-control:hover {
        border-color: #3d3d3d;
      }


     /* Estilos para el botón de inicio de sesión */
     button.btn-outline-light {
        transition: border-color 0.3s ease-in-out;
      }
  
      /* Cambia el color del borde al hacer hover */
      button.btn-outline-light:hover {
        border-color: #3d3d3d;
      }