.gradient-custom {
    background-color: #99e4ff;
    background-image:
        radial-gradient(at 70% 83%, rgb(255, 255, 255) 0px, transparent 50%),
        radial-gradient(at 67% 3%, rgb(23, 201, 255) 0px, transparent 50%),
        radial-gradient(at 53% 40%, rgb(255, 255, 255) 0px, transparent 50%),
        radial-gradient(at 73% 43%, rgb(59, 194, 247) 0px, transparent 50%);
}

h2{
    font-weight: 800;
}

p {
    font-weight: 600;
}

.form-label {
    font-weight: 600;
    text-align: left;
    display: block;
}

button {
    font-weight: 800;
}

input {
    font-weight: 800;
    font-family: Poppins, sans-serif;
}