<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            + Añadir experiencia
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td><h2>{{Experiencia.nombreE}}</h2></td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td><i class="bi bi-pencil-square"></i> Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
