<!--
<div class="row">
    <h1>| Mis proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut, temporibus dolorem sapiente explicabo rem blanditiis, pariatur cum neque debitis atque, dolor reiciendis dicta eius fugiat alias? Reiciendis, ut quas?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-2 parte2">
            <img src="../../../assets/ranaMes.png" alt="" class="img-fluid img-proyecto">
        </div>        
    </div>
</div>
-->
<div class="row">
    <h1>| Mis proyectos</h1>
    <div class="contenedor">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/pouSegunMesPreview.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pou según tu mes</h5>
              <p class="card-text">Elige un mes y te muestra una imagen.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click para ver.</a>
            </div>
          </div>
</div>
</div>