<div class="row">
    <h1>| Mis proyectos</h1>
    <div class="contenedor">
        <div class="parte1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="../../../assets/pouSegunMesPreview.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pou segun tu mes</h5>
                    <p class="card-text">Elige un mes y muestra una imagen.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Click para ver.</a>
                </div>
            </div>
        </div>
        <div class="parte2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="../../../assets/ranaMes.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rana segun tu mes</h5>
                    <p class="card-text">Elige un mes y muestra una imagen.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Click para ver.</a>
                </div>
            </div>
        </div>        
    </div>
</div>
