.row {
    padding: 20px;
    background-color: #dcf4fd
}

.contenedor {
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    padding: 20px;
}

.img-proyecto {
    height: 200px; /* Establecer una altura fija para las imágenes */
    object-fit: cover; /* Para asegurarse de que las imágenes se ajusten dentro del contenedor */
}

h1 {
    font-weight: 800;
}

div div h1{
    font-weight: 600;
}

img {
    width: 100%;
}

.card-title {
    font-weight: 600;
}
