<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul><li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, laudantium aperiam. Debitis ex voluptatem illo natus, voluptatibus cum amet? Totam, nam. Perspiciatis perferendis neque harum quisquam aspernatur incidunt laudantium esse.</p>
        </ul>
        <ul><li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, laudantium aperiam. Debitis ex voluptatem illo natus, voluptatibus cum amet? Totam, nam. Perspiciatis perferendis neque harum quisquam aspernatur incidunt laudantium esse.</p>
        </ul>
        <ul><li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, laudantium aperiam. Debitis ex voluptatem illo natus, voluptatibus cum amet? Totam, nam. Perspiciatis perferendis neque harum quisquam aspernatur incidunt laudantium esse.</p>
        </ul>
    </div>
</div>
